{% load static %}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'style.css' %}">
<!--<link rel="stylesheet" href="/static/css/style.css">-->
</head>
<body>
{% if messages %}
   {% for message in messages %}
   <div class="alert {{message.tags}}" id="message_container">
     <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
     <strong>{{ message }}!!</strong>
      {% endfor %}
   </div>
{% endif %}

<h2>Password Reset</h2>
<p>Enter a username for update existing Password</p>

<form action="{% url 'password_reset' %}" method="post">
 {% csrf_token %}
  <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" id = username required>

     <label for="new_psw"><b> New Password</b></label>
    <input type="password" placeholder="Enter Password" name="new_psw" id="new_psw" required>

    <label for="psw-repeat"><b>Confirm Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw_repeat" id="psw-repeat" required>

    <button type="submit">Update Password</button>

  </div>
    <div class="container" style="background-color:#f1f1f1">
    <input type="button" onclick="location.href='/login';" value="Login Now" />
</div>
</form>
<script>
var message_ele = document.getElementById("message_container");

setTimeout(function(){
   message_ele.style.display = "none";
    }, 3000);
// Timeout is 3 sec, you can change it
</script>
</body>
